extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Mobilenet
    div.Message
        div.NavButtons
            a.NavButton(href="/predict") Predict
            a.NavButton(href="/evaluate") Evaluate
